td img{
    width: 60px;
    height: 60px;
}
.vehicle_container img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    width: 85px;
    border-radius: 16px;
    object-fit: cover;
}
.vehicle_info{
    display: block;
    /* grid-template-columns: auto auto auto;
    height: 100vh; */
    grid-template-columns: repeat(3,1fr); /* Adjust column width as needed */
    gap: 10px; /* Adjust gap between vehicles as needed */
    background-color: white;
    width: 98%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.vehicle_container{
    margin-left: auto;
    margin-right: auto;
    width: 97%;
    display: block;
    height: auto;
    cursor: pointer;
    padding: 39px 8px;
    border-radius: 8px;
    margin-top: 12px;
    border: none;
}