#action_c{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #04aa6d;
    padding: 14px 18px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid #80808063;
    cursor: pointer;
    font-weight: 600;
    background-color: #04aa6d44;
    width: 37%;
    margin-top: 12px;
}
#action_p{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #aaaa04;
    padding: 14px 18px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid #80808063;
    cursor: pointer;
    font-weight: 600;
    background-color: #aaaa0435;
    width: 37%;
    margin-top: 12px;
}

#action_f {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #aa0404b0;
    padding: 14px 18px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid #80808063;
    cursor: pointer;
    font-weight: 600;
    background-color: #aa04043d;
    width: 37%;
    margin-top: 12px;
}
