.vehicle_container{
    display: block;
    /* background-color: #00308F; */
    margin-left: auto;
    margin-right: auto;
    height: 320px;
}
.vehicle_info{
    display: block;
}
.vehicle_container form label{
    text-align: center;
    display: block;
    margin-top: 12px;
}
.vehicle_container form input{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 18px;
    border: 1px solid #291e6e;
    color: black;
    border-radius: 12px;
    padding: 12px 8px;
}
#head{
    font-size: 33px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: #291e6e;
    letter-spacing: 3px;
}
#verify{
    display: block;
    text-align: center;
    background-color: #00308F;
    color: white;
    padding: 18px 35px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid ;
    cursor: pointer;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
}